.blacklisted {
    height:60px;
    overflow:hidden;
    border-bottom:2px solid #fff!important;
    box-shadow:0 1px 0 #d0d1d5;
}

.blacklisted.showpost {
    height:auto;
    overflow:visible;
    border-bottom:none!important;
}

.blacklist_4418 {font-weight:normal;}
.blacklist_4418 span {color:#ff0000;}
.blacklist_4418 span.hide_reason {display:none;} /* prep for option to hide why a post is blacklisted */
a.show_4418 {color:#6d84b4;}

#blacklist_container {background:#fff;}
#blacklist_container input {margin:12px 0;}
input#cw,input#hidetrending {margin-right:6px;margin-top:0;}
#blacklist_container label {font-weight:normal;}
#blacklist_container span.status_4418 {color:red;display:block;}
#blacklist_container span.status_4418.active {margin-top:12px;}
input#blacklist {border:1px solid #bdc7d8;padding:5px;margin-right:5px;width:242px;}
input#blacklist:focus {border-color:#6d84b4;outline:0;}

#blacklist_container._4-u2>._4-u3:first-child {
    border-top:none;
    -webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
}
#blacklist_container ._5dwa {
    background-color:#f6f7f8;
    line-height:12px;
    padding:12px 0 11px;
    cursor:pointer;
}
#blacklist_container ._5dwa:after {
    content:'';
    display:block;
    width:20px;
    height:20px;
    background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="768" height="768" viewBox="0 0 768 768"><path fill="#aaaaaa" d="M237.28 262.72L384 409.44l146.72-146.72L576 308 384 500 192 308z"/></svg>');
	background-size:20px;
	background-repeat:no-repeat;
    float:right;
    margin-top:-3px;
    margin-right:8px;
    transition:200ms linear transform;
}
#blacklist_container ._5dwa.closed:after {
    transform:rotate(-90deg);
}
#blacklist_container ._38my {
    margin-left:12px;
    padding:0;
    text-transform:uppercase;
    font-weight:bold;
    font-size:11px;
    color:#4e5665;
}

._4-u2 {margin-bottom:12px;}

.noFooter #blacklist_container {width:244px;}
.noFooter #blacklist_container input#blacklist {width:208px;}
.noFooter #blacklist_container label {font-size:11px;}
